body {
  border: 1px;
  display: inline-block;
  background-color: rgb(247, 247, 175);
  max-width: 1000px;
  margin: auto;
}

ul {
  border: black;
  max-block-size: 50%;
  color: white;
}

header {
  background-color: rgb(89, 89, 240);
  color: rgb(255, 255, 255);
  text-align: center;
  width: 100%;
  padding: 20px;
}

img {
  display: block;
  width: 100%;
  max-width: 400px;
  margin: auto;
}

.wrapper {
  background-color: aquamarine;
  width: 80%;
  margin: auto;
}

